.emoticon
  display: inline-block
  width: 21px
  height: 19px
  top: 4px
  position: relative
  background: url(emoticons.png) left top no-repeat

.emoticon[title=":)"]
  background-position: left top

.emoticon[title=":8"]
  background-position: -23px top

.emoticon[title=":D"]
  background-position: -46px top

.emoticon[title=":hat"]
  background-position: -68px top

.emoticon[title=":("]
  background-position: -87px top

.emoticon[title=":rare"]
  background-position: -110px top

.emoticon[title=":silent"]
  background-position: -133px top

.emoticon[title=":lol"]
  background-position: -153px top

.emoticon[title=":shame"]
  background-position: -178px top

.emoticon[title=":xD"]
  background-position: -201px top

.emoticon[title=":imp"]
  background-position: -223px top

.emoticon[title=":O"]
  background-position: -243px top

.emoticon[title=":secret"]
  background-position: -266px top

.emoticon[title=":P"]
  background-position: -286px top

.emoticon[title=":a"]
  background-position: -309px top

.emoticon[title=":cool:"]
  background-position: -329px top

.emoticon[title=":XD:"]
  background-position: -392px top

.emoticon[title=":sor:"]
  background-position: -415px top

.emoticon[title=":'("]
  background-position: -438px top

.emoticon[title=":|"]
  background-position: -458px top

