@import url(http://fonts.googleapis.com/css?family=Lobster)
@import "normalize.styl"
@import "emoticons.styl"

body 
	font-size 16px
	font-family LilyUPC
	background-color whitesmoke
header
	background-color #00cb84
	color white
	text-align center
	width 100%
	height 60px
	margin-bottom 30px
	h1
		font-family: 'Lobster', cursive;
		margin 0px
		padding-top 5px

section
	a
		text-decoration none
		color darkgray
		font-size 10em
	#distancia
		color darkgray
	#CopyRight
		font-size 16
		float right
		color dimgray
		width 390px

	#contentIzq,#contentDerh
		display inline-block 
		vertical-align top
	#contentIzq
		width 80px
		height 325px
		margin-right 23px
	#contentDerh
		width 390px
		height 325px
	#contentDerh
		#directions
			color sandybrown
			font-size 20px
		span
			color dimgray
			display inline-block 
			vertical-align top
			font-size 25px
		img
			width 22px
			height 22px
			margin-right 9px
	#ratyStart
		img
			margin 0px 8%
	#hint
		color dimgray
	#avatar
		margin 20px 0px 0px 23px
		width 60px
		height 60px
	margin 0px auto
	border-radius 5px
	background-color white
	width 500px
	height 600px
	#map_canvas
		border-top-left-radius 5px
		width 50%
		height 180px
		display inline-block

	#imagen
		display inline-block
		img
			width 100%
			height 180px
		width 49%


@media (max-width 960px)
	header
		margin-bottom 0px
		h1
			font-family: 'Lobster', cursive;
			margin 0px
			padding-top 5px
	section
		#ratyStart
			img
				margin 0px 7.2%
		#map_canvas
			width 100%
			height 180px
		#imagen
			img
				width 100%
				height 180px
			width 100%
		#CopyRight
			font-size 16
			float right
			color dimgray
			width 390px
			margin-top 10px
		#contentIzq,#contentDerh
			display inline-block 
			vertical-align top
		#contentIzq
			width 10%
			height auto
			margin-right 3px
		#contentDerh
			width 88%
			height auto
		#avatar
			margin 0px 0px 0px 3px
			width 30px
			height 30px
		a
			text-decoration none
			color darkgray
			font-size 5em
		width 100%
		height auto

@media (max-width 460px)
	section
		#ratyStart
			img
				margin 0px 7%

	 	
		