.foto
  width 42px
  height 42px
section 
  margin  0px auto
  text-align  center
  width  100%
  height 70px
  padding auto 0px


section a 
  background-color  #ededed
  border-radius  50%
  color  #444
  font-size  4em
  line-height  35px
  vertical-align top
  display inline-block
  position  relative
  text-decoration  none
  width  42px
  height  auto
  z-index  2


section a hover 
  color  black
  background-color  #cdcdcd


section a, .marco 
  display  inline-block
  vertical-align  middle
  background-color transparent


.marco 
  overflow  auto
  position  relative
  vertical-align top
  display inline-block
  width  70%
  height 62px
  z-index  5


.marco ul 
  margin  0
  padding  0
  position  relative
  width  auto


.marco li 
  float  left
  height  42px
  list-style  none
  margin  0
  position  relative
  width  42px
